@use "../global" as *;

// バースデーパーティーページ
body {
  background-color: #fff;
}

// 共通クラス
.birth-wrapper {
  width: 100%;
}


// ヘッダー
.birth-header {
  background-image: url(../image/bg-01.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.birth-header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.birth-header__text {
  img {
    max-width: 300px;
    height: auto;

    @include mq(md) {
      max-width: 200px;
    }
  }
}

// ファーストビュー
.birth-fv {
  background-image: url(../image/bg-02.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.birth-fv__inner {
  position: relative;
  z-index: 2;
}

.birth-fv__contentes {
  text-align: center;

  img {
    max-width: 800px;
    margin: 0 auto;

    @include mq(md) {
      max-width: 100%;
    }
  }
}

.birth-fv__ceo-image {
  position: relative;
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(30);
  }

  img {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    @include mq(md) {
      max-width: 250px;
    }
  }
}

.birth-fv__ribbon {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

// バースデー背景
.birth-bg-wrapper {
  background-image: url(../image/bg-04.webp);
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}


.birth-key-message__inner {
  text-align: center;
}

.birth-key-message__contentes {
  img {
    max-width: 900px;
    margin: 0 auto;

    @include mq(md) {
      max-width: 100%;
    }
  }
}

// 見出しセクション
.birth-head {
  background-image: url(../image/bg-05.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.birth-head__inner {
  text-align: center;
}

.birth-head__contentes {
  img {
    max-width: 700px;
    margin: 0 auto;

    @include mq(md) {
      max-width: 100%;
    }
  }
}

// 説明セクション
.birth-description {
  padding: rem(80) 0;
  background-color: #fff;

  @include mq(md) {
    padding: rem(50) 0;
  }
}

.birth-description__inner {
  max-width: 1000px;
}

.birth-description__contentes {
  img {
    width: 100%;
    height: auto;
  }
}

// リボンセクション
.birth-ribbon {
  background-image: url(/image/birth-ribbon-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
}

.birth-ribbon__inner {
  text-align: center;
}

.birth-ribbon__contentes {
  img {
    max-width: 800px;
    margin: 0 auto;

    @include mq(md) {
      max-width: 100%;
    }
  }
}

// 開催情報
.birth-info {
  padding: rem(80) 0;
  background-color: #f8f9fa;

  @include mq(md) {
    padding: rem(50) 0;
  }
}

.birth-info__inner {
  max-width: 900px;
}

.birth-info__contentes {
  background-color: #fff;
  padding: rem(40);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

  @include mq(md) {
    padding: rem(30) rem(20);
  }

  img {
    width: 100%;
    height: auto;
  }
}

// フォームセクション
.birth-form {
  background: #2a2a2a;
}


.birth-form__contentes {
  background-color: #fff;
  padding: rem(50);
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

  @include mq(md) {
    padding: rem(30) rem(20);
  }

  img {
    width: 100%;
    height: auto;
  }
}

// フッター
.birth-footer {
  background-image: url(../image/bg-08.webp);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
}

.birth-footer__inner {
  text-align: center;
}

.birth-footer__contentes {
  img {
    max-width: 600px;
    margin: 0 auto;

    @include mq(md) {
      max-width: 100%;
    }
  }
}
