@use "../global" as *;

// バースデーパーティーページ
body {
  background-color: #fff;
}

// 共通クラス
.birth-wrapper {
  width: 100%;
}


// ヘッダー
.birth-header {
  background-image: url(../image/bg-01.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: rem(30) 0 rem(38);
  position: relative;
}
.birth-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(8);
  background: linear-gradient(90deg, #896328 0%, #f8f0aa 44.8%, #c49735 100%);
  z-index: 1;
}

.birth-header__text {
  width: calc(671 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}

// ファーストビュー
.birth-fv {
  background-image: url(../image/bg-02.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.birth-fv__ceo-image {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(14%);
  width: calc(380 / 750 * 100%);
}

.birth-fv__ribbon {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

// バースデー背景
.birth-bg-wrapper {
  background-image: url(../image/bg-04.webp);
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  padding: rem(30) 0;
}


.birth-key-message__contentes {
  width: calc(610 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}

// 見出しセクション
.birth-head {
  background-image: url(../image/bg-05.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: rem(30) 0;
}

.birth-head__inner {
  text-align: center;
}

.birth-head__contentes {
  width: calc(721 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}

// 説明セクション
.birth-description {
  padding: 100px 0;
  @include mq(md) {
    padding: rem(100) 0;
  }
}


.birth-description__contentes {
  width: calc(634 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}

// リボンセクション
.birth-ribbon {
  background-image: url(../image/birth-ribbon-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  height: 55px;
  @include mq(md) {
    height: rem(55);
  }
}


.birth-ribbon__contentes {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-5%);
  width: calc(154 / 750 * 100%);
}

// 開催情報
.birth-info {
  padding: rem(80) 0;
  @include mq(md) {
    padding: rem(50) 0;
  }
}

.birth-info__contentes {
  width: calc(633 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}
.birth-info__item:not(:last-child) {
  margin-bottom: rem(40); 
}

// フォームセクション
.birth-form {
  background: #2a2a2a;
}


.birth-form__description{
  color: #fff;
  font-size: rem(28);
  font-weight: $bold;
  text-align: center;
  margin-bottom: rem(40);
}
.birth-form__contentes-form {
  height: rem(1200);
}

// フッター
.birth-footer {
  background-image: url(../image/bg-08.webp);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  position: relative;
  padding: rem(30) 0 rem(38);
}
.birth-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(8);
  background: linear-gradient(90deg, #896328 0%, #f8f0aa 44.8%, #c49735 100%);
  z-index: 1;
}


.birth-footer__contentes {
  width: calc(412 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}
