@use "../global" as *;

// ファーストビュー（トップページ）
.fv {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  padding: 0;
}

// 動画コンテナ
.fv__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

// 動画要素
.fv__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

// オーバーレイ（動画を少し暗くする）
.fv__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.fv__container {
  position: relative;
  width: 100%;
  max-width: $inner;
  z-index: 2;
}

.fv__content {
  position: absolute;
  width: calc(1051 / 1920 * 100%);
  left: calc(88 / 1920 * 100%);
  bottom: calc(93 / 1080 * 100%);
}

.fv__title {
  font-size: calc(28 / 1920 * 100vw );
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.04em;
  position: absolute;
  bottom: calc(74 / 311 * 100%);
  right: calc(80 / 1051 * 100%);
  color: $color-white;
  @include mq(md) {
    font-size: rem(40);
  }
}

.fv__subtitle {
  width: 100%;
  opacity: 0.8;
}

.fv__container::after {
  content: "";
  width: 100%;
  padding-top: calc(1080 / 1920 * 100%);
  display: block;
  
  @include mq(md) {
    padding-top: calc(1000 / 600 * 100%);
  }
}

@include mq(md) {
  .fv__content {
    width: calc(100% - 40px);
    left: 20px;
  }
  .fv__title {
    position: static;
    margin-bottom: rem(20);
    font-size: rem(28);
  }
}