@use "../global" as *;

// COMPANY(会社概要)ページ


// MESSAGE セクション
.message {
  padding-top: rem(220);
  padding-bottom: rem(200);
}

.section-title-contents.section-title-contents--message {
  margin-bottom: rem(72);
}

.message__ceo-image {
  width: 100%;
  margin-bottom: rem(80);
}
.message__ceo-image img {
  aspect-ratio: 2 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.message__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(40);
}
.message__catchphrase {
  margin-bottom: rem(100);
}

.message__left {
  max-width: 462px;
}
.message__right {
  max-width: 668px;
}

.message__figure {
  max-width: 462px;
  width: 100%;
  position: relative;
}
.message__figure::before {
  content: "";
  display: block;
  padding-top: calc(498 / 462 * 100%);
}
.message__circle-contents {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(30, 30, 30, 0.4);
  font-weight: $w-black;
  width: calc(223 / 462 * 100%);
}
.message__circle-contents::before {
  content: "";
  display: block;
  width: 100px;
  padding-top: 100%;
}
.message__circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
  font-size: rem(32);
  padding: rem(4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message__circle-text--main {
  text-transform: uppercase;
}
.message__circle-text--sub {
  font-size: calc(14 / 32 * 1em);
  margin-top: calc(12 / 14 * 1em);
}
.message__circle-contents.message__circle-contents--large {
  width: calc(330 / 462 * 100%);
  background-color: rgba(1, 114, 213, 0.04);
  color: $color-black;
  font-size: rem(44);
  z-index: 1;
}
.message__circle-text--main--small {
  font-size: 0.5em;
}
.message__circle-contents.message__circle-contents--bottom {
  bottom: 0;
  right: 0;
}
.message__circle-contents.message__circle-contents--top {
  top: 0;
  right: calc(68 / 462 * 100%);
}
.message__circle-contents.message__circle-contents--left {
  top:  calc(98 / 498 * 100%);
  left: 0;
}

.message__description {
  font-size: rem(20);
  line-height: 2.2;
  font-weight: $medium;
  margin-bottom: rem(53);
  @include mq(md) {
    font-size: rem(18);
    margin-bottom: rem(32); 
  }
}
.message__ceo-name {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: rem(19);
}
.message__ceo-name--position {
  font-size: rem(16);
  letter-spacing: 0.08em;
  line-height: 1;
  @include mq(md) {
    font-size: rem(14);
  }
}
.message__ceo-name--main {
  width: rem(172);
}
.message__ceo-name--main img {
  display: block;
  width: 100%;
}

// COMPANY セクション
.company {
  background: $gradient-bg-section;
  padding-top: rem(184);
  padding-bottom: rem(200);
}
.section-title-contents.section-title-contents--company {
  margin-bottom: rem(72);
}
.company__table {
  width: 100%;
  border-collapse: collapse;
  
}
.company__table-item {
  border-top: 1px solid $color-white;
}
.company__table-item:last-child {
  border-bottom: 1px solid $color-white;
}
.company__table-head,
.company__table-content {
  padding: rem(45) 0;
  font-size: rem(20);
  line-height: 1.6;
  letter-spacing: 0;
  font-weight: $medium
}
.company__table-head {
  max-width: rem(400);
  width: calc(400 / 1480 * 100%);
  text-align: left;
  font-weight: $bold;
  vertical-align: baseline;
}
.company__map {
  margin-top: rem(46);
  width: 100%;
  height: 400px;
  @include mq(md) {
    height: 300px;
  }
}
.company__map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@include mq(md) {
  .message {
    padding-top: rem(100);
    padding-bottom: rem(80);
  }
  .message__content {
    flex-direction: column;
    gap: rem(40);
  }
  .message__left {
    width: 100%;
    max-width: 100%;
  }
  .message__figure {
    margin-right:auto;
    margin-left:auto;
  }
  .message__circle-text {
    font-size: rem(24);
  }

  .company {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
  .company__table-head, .company__table-content {
    max-width: 100%;
    width: 100%;
    display: block;
    padding: rem(20) 0 ;
  }
  .company__map {
    margin-top: rem(16);
  }
}