@use "../global" as *;

// PHILOSOPHY(企業理念)ページ


// MISSION セクション
.mission {
  background-color: $color-white;
  position: relative;
  z-index: 1;
  padding-top: rem(220);
  padding-bottom: rem(194);
}

.mission__text {
  font-size: rem(24);
  line-height: calc(50 / 24);
  @include mq(md) {
    font-size: rem(18);
  }
}
.mission__image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(817 / 1980 * 100%);
  z-index: -1;
}

// VISION セクション
.vision {
  background: $gradient-bg-section;
  position: relative;
  z-index: 1;
  padding-top: rem(185);
  padding-bottom: rem(97);
}

.section-title-contents.section-title-contents--vision {
  margin-bottom: rem(58);
}

.vision__text {
  font-size: rem(24);
  line-height: calc(50 / 24);
  @include mq(md) {
    font-size: rem(18);
  }
}
.vision__text:not(:last-child) {
  margin-bottom: rem(24);
}

.vision__image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: calc(799 / 1980 * 100%);
  z-index: -1;
}

// VALUE セクション
.value {
  padding-top: rem(222);
  padding-bottom: rem(200);
}

.section-title-contents.section-title-contents--value {
  margin-bottom: rem(72);
}

.value__columns {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.value__item {
  background-color: rgba(1, 114, 213, 0.04);
  border-radius: rem(10);
  padding: rem(25) rem(44);
}
.value__item-columns {
  display: flex;
  align-items: center;
}
.value__item-number {
  display: inline-block;
  line-height: 1;
  background-color: $color-theme;
  color: $color-white;
  font-size: rem(24);
  font-family: $second-font-family;
  line-height: 1;
  padding: rem(6) rem(16);
  border-radius: 2px;
  align-self: flex-start;
  margin-top: rem(27);
}
.value__item-image {
  width: rem(120);
  margin-left: rem(35);
}
.value__item-text {
  flex-grow: 1;
  margin-left: rem(45);

}
.value__item-title {
  font-size: rem(48);
  font-weight: $bold;
  line-height: 1;
  font-family: $second-font-family;
  background: $gradient-freedge;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  margin-bottom: rem(16);
}
.value__item-description {
  font-weight: $medium;
  font-size: rem(20);
  letter-spacing: 0;
}

@include mq(md) {
  .mission {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
  .vision {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
  .value {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }

  .vision__image {
    top: auto;
    transform: none;
    bottom: 0;
  }
  .value__item {
    padding: rem(20) rem(20);
  }
  .value__item-columns {
    flex-direction: column;
    align-items: center;
    gap: rem(8);
  }
  .value__item-number,
  .value__item-image,
  .value__item-text {
    margin: 0;
  }
  .value__item-number {
    align-self: flex-start;
  }
}