@use "../global" as *;

// CONTACT(お問い合わせ)ページ


// お問い合わせフォーム セクション
.contact-form {
  padding-top: rem(220);
  padding-bottom: rem(200);
}

.contact-form__title {
  text-align: center;
  font-size: rem(48);
  font-weight: $bold;
  letter-spacing: -0.03em;
  line-height: 1;
  margin-bottom: rem(50);
}
.contact-form__description {
  text-align: center;
  font-size: rem(20);
  font-weight: $medium;
  line-height: 2.2;
  margin-bottom: rem(100);
}

.contact-form__content {
  max-width: 800px;
  margin: 0 auto;
}

.wpcf7 {
  padding: 0;
  background: transparent;
  margin: 0 !important;
  border: none;
  font-size: 16px;
}
.form-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.form-item:not(:first-child) {
  padding-top: rem(24);
  border-top: 1px solid #D8E1EA;
}
.form-item:not(:last-child) {
  padding-bottom: rem(24);
}
.form-item__label {
  flex-basis: rem(268);
  flex-shrink: 0;
  text-align: left;
  font-weight: bold;
  font-size: rem(22);
}
.form-item__label--category {
  display: inline-block;
  margin-left: rem(11);
  font-size: rem(13);
  padding: rem(2) rem(10) rem(3);
  border-radius: rem(2);
  line-height: 1;
}
.form-item__label--category-must {
  background-color: $color-theme;
  color: $color-white;
}
.form-item__input {
  flex-grow: 1;
  padding: rem(23) rem(24);
  border: 1px solid #D8E1EA;
  border-radius: 4px;
  font-size: rem(18);
  font-weight: $medium;
  box-sizing: border-box;
  background-color: $color-white;
  color: $color-black;
  width: 100%;
}
.form-item__input.form-item__input--textarea {
  min-height: rem(224);
}
.form-item__input.form-item__input--privacy-policy {
  min-height: rem(192);
}
.form-item__input.form-item__input--checkbox {
  border: none;
  padding: 0;
  background: transparent;
}

.wpcf7-list-item {
  margin-left: 0;
}
.form-item__label + .wpcf7-form-control-wrap {
  flex-grow: 1;
}

.form-item__input--privacy-policy {
  padding: rem(24) rem(20);
  height: rem(192);
  overflow-y: scroll;
  font-size: rem(15);
  line-height: calc(26 / 15);
  color: $color-black;
  background-color: $color-white;
  border: 1px solid #C6D9EE;
  border-radius: rem(4);
  width: calc(100% - rem(268));
  flex-grow: 0;
}

.form-item.form-item--check {
  padding: 0;
  justify-content: center;
  margin-bottom: rem(56);
  border: none;
}
.form-item__input--checkbox .wpcf7-list-item-label {
  padding-left: rem(38);
  font-size: rem(18);
  position: relative;
  font-weight: 500;
}
.form-item__input--checkbox .wpcf7-list-item-label::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: rem(30);
  height: rem(30);
  background: #D8E1EA;
  left: 0;
  border-radius: rem(2);
  box-sizing: border-box;
}
.form-item__input--checkbox .wpcf7-list-item-label::after {
  content:"";
  position: absolute;
  display: inline-block;
  width: rem(8);
  height: rem(14);
  border:solid $color-white;
  border-width: 0 3px 3px 0;
  box-sizing: border-box;
  top: 50%;
  left: rem(11);
  transform: translateY(-50%) rotate(45deg);
}
.form-item__input--checkbox input:checked + .wpcf7-list-item-label::after {
  border-color: $color-theme;
}
.form-item.form-item--submit {
  padding: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  border: none;
}
.form-item__submit-content {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  border-radius: rem(38);
  position: relative;
  border: 1px solid $color-theme;
  max-width: rem(346);
  width: 100%;
}
.form-item__input--submit {
  color: $color-theme;
  background-color: transparent;
  border: none;
  line-height: 1;
  font-size: rem(18);
  padding: rem(29) rem(31);
  border-radius: rem(38);
  text-align: left;
  font-weight: $bold;
  transition: all 0.3s ease;
}
.form-item__submit-content::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 36.83px;
  width: 17.42px;
  height: 8.25px;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.42 8.25'%3E%3Cpath fill='%230172D5' d='M13.29,8.25l-1.31-1.28,1.92-1.92H0v-1.83h13.91l-1.9-1.92,1.31-1.28,4.1,4.12-4.13,4.13Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
}
.form-item__submit-content .wpcf7-spinner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 101%;
  margin: 0;
}
.form-item__submit-content:hover .form-item__input--submit {
  background-color: $color-theme;
  color: $color-white;
}
.form-item__submit-content:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.42 8.25'%3E%3Cpath fill='%23ffffff' d='M13.29,8.25l-1.31-1.28,1.92-1.92H0v-1.83h13.91l-1.9-1.92,1.31-1.28,4.1,4.12-4.13,4.13Z'/%3E%3C/svg%3E");
}

@include mq(md) {
  .contact-form {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
  .contact-form__title {
    font-size: rem(32);
    margin-bottom: rem(24);
    line-height: 1.3;
  }
  .contact-form__description {
    font-size: rem(16);
    margin-bottom: rem(40);
  }
  .form-item {
    flex-direction: column;
    gap: rem(20);
  } 
  .form-item__label {
    flex-basis: auto;
    text-align: left;
    width: 100%;
  }
  .form-item__input--privacy-policy {
    width: 100%;
  }
}