@use "../global" as *;

// 下層ページ共通ファーストビュー
.page-fv {
  position: relative;
  width: 100%;
  padding: rem(300) 0 rem(88);
  z-index: 1;
  @include mq(md) {
    padding: rem(100) 0 rem(60);
  }
}

.page-fv__container {
  width: 100%;
  max-width: calc(1760px + ($padding-pc * 2));
  margin: 0 auto;
  padding: 0 $padding-pc;
  @include mq(md) {
    padding: 0 $padding-sp;
  }
}

.page-fv__title {
  font-size: rem(140);
  font-weight: $bold;
  font-family: $second-font-family;
  background: $gradient-freedge;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  margin-bottom: rem(10);
  line-height: 1;
  display: inline-block;

  @include mq(md) {
    font-size: rem(80);
  }
}

.page-fv__subtitle {
  font-size: rem(18);
  letter-spacing: 0.06em;
  font-weight: $w-black;
  line-height: 1;
  @include mq(md) {
    font-size: rem(16);
  }
}
.page-fv__image {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: rem(686);
  width: 100%;
  z-index: -1;
  @include mq(md) {
    max-width: 100%;
    width: 40%;
  }
}
