@use "../global" as *;

// SERVICES(事業内容)ページ

// 3つの事業領域 セクション
.services-intro {
  padding-top: rem(220);
  padding-bottom: rem(140);
}

.services-intro__columns {
  display: flex;
  gap: rem(40);
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(120);
}
.services-intro__text {
  max-width: rem(705);
}
.services-intro__image {
  max-width: rem(552);
}

.services-intro__text {
  font-size: rem(18);
  line-height: 1.8;
  color: $color-main_gray;

  @include mq(md) {
    font-size: rem(16);
  }
}

.services-intro__tabs-columns {
  display: flex;
  gap: rem(29);
}
.services-intro__tab {
  flex: 1;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.services-intro__tab-head {
  position: relative;
}
.services-intro__tab-image {
  position: relative;
}
.services-intro__tab-image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  inset:0;
  background:#1056AB;
  opacity: .6;
  mix-blend-mode: soft-light;
  pointer-events:none;
}
.active .services-intro__tab-image::before {
  background: transparent;
}
.services-intro__tab-title {
  position: absolute;
  bottom: rem(20);
  left: rem(20);
  text-transform: uppercase;
  color: $color-white;
  z-index: 1;
  font-family: $second-font-family;
  font-size: rem(36);
  font-weight: $bold;
  letter-spacing: -0.02em;
  line-height: 1;
}
.services-intro__tab-body {
  background-color: $color-white;
  color: $color-theme;
  border: 1px solid $color-theme;
  padding: rem(16);
  display: flex;
  justify-content: space-between;
}
.active .services-intro__tab-body {
  background-color: $color-theme;
  color: $color-white;
}
.services-intro__tab-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.services-intro__tab-arrow-icon {
  width: rem(17);
  height: rem(8);
  fill: $color-theme;
  transition: fill 0.3s ease;
}
.active .services-intro__tab-arrow {
  transform: rotate(90deg);
}
.active .services-intro__tab-arrow-icon {
  fill: $color-white;
}

// サービス詳細(タブ切り替え)セクション
.services-detail {
  background-color: $color-theme;
  padding-top: rem(184);
  padding-bottom: rem(140);
  color: $color-white;
}
.services-detail__columns {
  display: flex;
  gap: rem(40);
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(140);

  @include mq(md) {
    flex-direction: column;
    gap: rem(20);
    margin-bottom: rem(60);
  }
}
.services-detail__image {
  max-width: 660px;
  width: 100%;
}
.services-detail__text {
  max-width: 660px;
  width: 100%;
}
.section-title-contents.section-title-contents--services-detail {
  margin-bottom: rem(53);
}
.section-title-contents--services-detail .section-title {
  color: $color-white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: unset;
  background-clip: unset;
  background: none;
  font-size: rem(80);
}
.section-title-contents--services-detail .section-subtitle {
  color: $color-white;
}

.services-detail__description {
  font-size: rem(20);
  font-weight: $medium;
  line-height: 2.2;
}

.services-detail__content {
  position: relative;
  min-height: 300px;

  @include mq(md) {
    min-height: 250px;
  }
}

.services-detail__feature {
  border: 1px solid $color-white;
  padding: rem(57) rem(20) rem(70);
  color: $color-white;
}
.services-detail__feature-title {
  text-align: center;
  font-size: rem(80);
  font-weight: $bold;
  font-family: $second-font-family;
  line-height: 1;
  margin-bottom: rem(14);
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color-white;
  color: transparent;
}
.services-detail__feature-subtitle {
  text-align: center;
  font-size: rem(18);
  font-weight: $w-black;
  line-height: 1;
  letter-spacing: 0.06em;
  margin-bottom: rem(56);
}
.services-detail__feature-list {
  display: flex;
  max-width: 1341px;
  margin-right:auto;
  margin-left:auto;
  width: 100%;
  justify-content: space-between;
  gap: rem(20);
}
.services-detail__feature-item {
 display: block;
 max-width: 422px;
 width: 100%; 
 background-color: rgba(0, 126, 229, 0.4);
 border-radius: rem(9);
 padding: rem(32) rem(30);
}
.services-detail__feature-item-number {
  display: inline-block;
  line-height: 1;
  background-color: $color-theme;
  color: $color-white;
  font-size: rem(24);
  font-family: $second-font-family;
  line-height: 1;
  padding: rem(6) rem(16);
  border-radius: 2px;
  align-self: flex-start;
  margin-bottom: rem(26);
}
.services-detail__feature-item-head {
  font-size: rem(29);
  font-weight: $bold;
  line-height: calc(43.5 / 29);
  letter-spacing: 0;
  margin-bottom: rem(19);
}
.services-detail__feature-item-description {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 2;
}

.services-detail__panel {
  display: none;
  animation: fadeIn 0.3s ease;
}

.services-detail__panel.active {
  display: block;
}


.services-engagements {
  padding-top: rem(160);
  padding-bottom: rem(200);
}
.sevices-engagements__contents {
  display: none;
}
.sevices-engagements__contents.active {
  display: block;
}
.section-title-contents.section-title-contents--services-engagements {
  text-align: center;
  margin-bottom: rem(72);
}
.services-engagements__columns {
  display: flex;
  flex-direction: column;
  gap: rem(20);
}
.services-engagements__item {
  border-radius: 8px;
  background-color: rgba(1, 114, 213, 0.04);
  padding: rem(56) rem(48);
}

.services-engagements__item-columns {
  display: flex;
  align-items: flex-start;
  @include mq(md) {
    flex-direction: column;
  }
}

.services-engagements__item-title {
  width: calc(692 / 1480 * 100%);
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1;
  position: relative;
  padding-left: rem(25);
  @include mq(md) {
    width: 100%;
  }
}
.services-engagements__item-title::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: rem(12);
  height: rem(12);
  border-radius: 1px;
  background: $color-theme;
}
.services-engagements__item-contents {
  border-left: 1px solid $color-theme;
}
.services-engagements__item-content {
  display: flex;
  align-items: center;
  gap: rem(20);
  padding-left: rem(32);
}
.services-engagements__item-tag {
  display: inline-block;
  line-height: 1;
  background-color: $color-theme;
  color: $color-white;
  border-radius: 2px;
  font-size: rem(16);
  font-weight: $bold;
  letter-spacing: 0;
  padding: rem(6) rem(10);
}
.services-engagements__item-description {
  line-height: 1;
  letter-spacing: 0;
  font-size: rem(18);
  font-weight: $medium;
}
.services-engagements__item-content:not(:last-child) {
  margin-bottom: rem(12);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@include mq(md) {
  .services-intro {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
  .services-intro__columns {
    flex-direction: column;
  }
  .services-intro__image {
    max-width: 400px;
    margin-right:auto;
    margin-left:auto;
  }
  .services-intro__tabs-columns {
    flex-direction: column;
  }
  .services-intro__tabs {
    max-width: rem(320);
    margin-right:auto;
    margin-left:auto;
  }

  .services-detail {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
  .section-title-contents--services-detail .section-title {
    font-size: rem(40);
  }
  .services-detail__feature-list {
    flex-direction: column;
    align-items: center;
  }
  .services-detail__feature-item {
    padding: rem(24) rem(20);
    width: 100%;
  }
  .services-detail__feature-item-number {
    margin-bottom: rem(16);
  }
  .services-detail__feature-item-head  {
    margin-bottom: rem(16);
    font-size: rem(24);
  }

  .services-engagements {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
  .services-engagements__item {
    padding: rem(20) rem(20);
  }
  .services-engagements__item-title {
    font-size: rem(16);
    line-height: 1.3;
  }
  .services-engagements__item-contents {
    border-left: none;
    padding-left: 0;
    border-top: 1px solid $color-theme;
    padding-top: rem(20);
    margin-top: rem(20);
  }
  .services-engagements__item-content {
    padding-left: 0;
    gap: rem(8);
    flex-direction: column;
    align-items: flex-start;
  }
  .services-engagements__item-content:not(:last-child) {
    margin-bottom: rem(24);
  }
  .services-engagements__item-description {
    line-height: 1.3;
  }
}