@use "../global" as *;

// RECRUIT（採用情報）セクション
.recruit {
  position: relative;
  z-index: 1;
  padding-top: rem(28);
  padding-bottom: rem(79);
  margin-top: rem(270);
}

.recruit__shape-image {
  position: absolute;
  z-index: -1;
}
.recruit__shape-image--top-left {
  top: 0;
  left: 0;
  max-width: 182px;
  width: 100%;
}
.recruit__shape-image--bottom-right {
  bottom: 0;
  right: 0;
  max-width: 440px;
  width: 100%;
  transform: translateY(calc(19 / 320 * 100%));
}

.recruit a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.section-title-contents.section-title-contents--recruit {
  margin-bottom: rem(68);
}

.recruit__container {
  width: 100%;
  max-width: calc(1820px + ($padding-pc * 2));
  margin: 0 auto;
  padding: 0 $padding-pc;
  @include mq(md) {
    padding: 0 $padding-sp;
  }
}
.recruit__contents {
  background-color: rgba($color: $color-white, $alpha: 0.24);
  backdrop-filter: blur(30px);
  position: relative;
  border: 1px solid $color-white;
  padding: rem(60) rem(47);
}
.recruit__images {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(59 / 1820 * 100%);
  width: calc(788 / 1820 * 100%);
}
.recruit__columns {
  display: flex;
  align-items: center;
  width: calc(845 / 1820 * 100%);
  justify-content: flex-end;
  margin-left: auto;
}
.recruit__tag {
  height: 100%;
  border-left: 1px solid #DFE7EF ;
  padding-left: rem(47);
  min-height: rem(688);
  display: flex;
}
.recruit__tag-icon {
  width: rem(32);
  height: rem(32);
  margin-top: auto;
  margin-bottom: auto;
}

.recruit__catchphrase {
  font-size: rem(60);
  font-weight: $bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(33);
  line-height: 1;
  margin-bottom: rem(67);
}

.recruit__description {
  margin-bottom: rem(60);
  @media screen and (max-width:px) {
    margin-bottom: rem(32);
  }
}

@include mq(md) {
  .recruit {
    margin-top: rem(80);
  }
  .recruit__contents {
    padding: rem(20) rem(20);
  }
  .section-title-contents.section-title-contents--recruit {
    margin-bottom: rem(40);
  }
  .recruit__images {
    width: 100%;
    position: static;
    transform: none;
    margin-bottom: rem(32);
  }
  .recruit__columns {
    width: 100%;
    flex-direction: column;
  }
  .recruit__catchphrase {
    font-size: rem(24);
    gap: rem(8);
    margin-bottom: rem(24);
  }
  .recruit__description {
    margin-bottom: rem(20);
  }
  .recruit__tag {
    height: auto;
    width: 100%;
    min-height: auto;
    border-left: none;
    border-top: 1px solid #DFE7EF ;
    align-items: center;
    justify-content: center;
    padding-top: rem(20);
    padding-left: 0;
  }
  
}