@use "../global" as *;

// 共通セクションスタイル
.section-title-contents {
  margin-bottom: rem(141);
  @include mq(md) {
    margin-bottom: rem(40);
  }
}
.section-title {
  font-size: rem(90);
  font-weight: $bold;
  font-family: $second-font-family;
  background: $gradient-freedge;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: rem(13);
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;

  @include mq(md) {
    font-size: rem(52);
    margin-bottom: rem(12);
  }
}

.section-subtitle {
  font-size: rem(28);
  color: $color-black;
  letter-spacing: 0.06em;
  line-height: 1;
  font-weight: $w-black;

  @include mq(md) {
    font-size: rem(16);
  }
}


// 共通ボタンスタイル
.button {
  display: inline-block;
  max-width: 240px;
  width: 100%;
  padding: 24px 35px;
  border: 1px solid $color-theme;
  color: $color-theme;
  background-color: transparent;
  font-size: 24px;
  font-weight: $bold;
  font-family: $second-font-family;
  border-radius: 50px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  @include mq(md) {
    padding: rem(12) rem(32);
    font-size: rem(14);
  }
}

.button::after {
  content: "";
  position: absolute;
  right: 35.83px;
  top: 50%;
  transform: translateY(-50%);
  width: 17.42px;
  height: 8.25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.42 8.25'%3E%3Cpath fill='%230172D5' d='M13.29,8.25l-1.31-1.28,1.92-1.92H0v-1.83h13.91l-1.9-1.92,1.31-1.28,4.1,4.12-4.13,4.13Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
  
  @include mq(md) {
    right: rem(20);
    width: 14px;
    height: 7px;
  }
}

.button:hover {
  background-color: $color-theme;
  color: $color-white;
}

.button:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.42 8.25'%3E%3Cpath fill='%23ffffff' d='M13.29,8.25l-1.31-1.28,1.92-1.92H0v-1.83h13.91l-1.9-1.92,1.31-1.28,4.1,4.12-4.13,4.13Z'/%3E%3C/svg%3E");
}

.button--outline {
  background-color: $color-white;
  color: $color-theme;
  border: 2px solid $color-theme;
}

.button--outline:hover {
  background-color: $color-theme;
  color: $color-white;
}

// 共通セクションレイアウト
section {
  padding: rem(100) 0;

  @include mq(md) {
    padding: rem(60) 0;
  }
}

.section-catchphrase {
  font-size: rem(48);
  font-weight: $bold;
  color: $color-black;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(26);
  margin-bottom: rem(72);
  @include mq(md) {
    font-size: rem(24);
    margin-bottom: rem(40);
    gap: rem(12);
  }
}