@use "../global" as *;

.services {
  padding: rem(80) 0;
  margin-top: rem(200);
}

.services__top-text .section-title {
  font-size: rem(140);
}

.services__top-contents {
  position: relative;
  margin-bottom: rem(300);
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  padding: 0 $padding-pc;
  z-index: 1;
}
.services__top-shape-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
}
.services__top-contents-container {
  max-width: 1492px;
  margin-right:auto;
  margin-left:auto;
}

.services__top-columns {
  display: flex;
  justify-content: space-between;
  gap: rem(40);
  @include mq(md) {
    flex-direction: column;
    gap: rem(32);
  }
}

.services__catchphrase {
  font-size: rem(48);
  font-weight: $bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(33);
  line-height: 1;
  margin-bottom: rem(67);
}

.services__description {
  margin-bottom: rem(60);
  @media screen and (max-width:px) {
    margin-bottom: rem(32);
  }
}

.services__button {
  text-align: left;
}

.services__contents {
  max-width: 1280px;
  margin-right:auto;
  margin-left:auto;
}
.services__item-columns {
  display: flex;
  justify-content: space-between;
}
.services__top-image {
  width: calc(699 / 1280 * 100%);
  position: relative;
}
.services__item-job-text--color {
  background: linear-gradient(90deg, rgba(16 , 86 , 171 ,0.1) 0%, #007EE5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.services__item-job-text--white {
  color: $color-white;
}

.services__item-text {
  width: calc(600 / 1280 * 100%);
  padding-right: rem(40);
}
.services__item-number {
  font-family: $second-font-family;
  color: $color-theme;
  font-size: rem(40);
  margin-bottom: rem(60);
  line-height: 1;
}
.services__item-title {
  font-weight: $bold;
  font-size: rem(40);
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: rem(60);
}
.services__item-description {
  font-weight: $medium;
  font-size: rem(18);
  line-height: 2;
  margin-bottom: rem(56);
}
.services__item-btn {
  text-align: left;
}
.services__item-image {
  width: calc(541 / 1280 * 100%);
  position: relative;
}
.services__item-job-text {
  position: absolute;
  bottom: rem(20);
  right: rem(10);
  font-size: rem(80);
  font-weight: $bold;
  font-family: $second-font-family;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  white-space: nowrap;
}
.services__item:not(:last-child) {
  margin-bottom: rem(334);
}

@include mq(md) {
  .services {
    margin-top: rem(40);
  }
  .services__top-text .section-title {
    font-size: rem(52);
  }
  .services__catchphrase {
    font-size: rem(28);
    gap: rem(8);
    margin-bottom: rem(32);
  }
  .services__top-shape-image {
    width: 40%;
    opacity: 0.4;
  }
  .services__top-contents {
    margin-bottom: rem(60);
  }
  .services__item-columns {
    flex-direction: column;
    gap: rem(40);
  }
  .services__top-image,
  .services__item-image,
  .services__item-text,
  .services__item-job-text {
    width: 100%;
  }
  .services__item-job-text {
    flex-direction: column;
    font-size: rem(48);
    left: 0;
    white-space: normal;
  }
  .services__item:not(:last-child) {
    margin-bottom: rem(80);
  }
  .services__item-number {
    margin-bottom: rem(32);
  }
  .services__item-title {
    margin-bottom: rem(24);
    line-height: 1.3;
    font-size: rem(32);
  }
  .services__item-text {
    padding-right: rem(0);
  }
  .services__item-description  {
    margin-bottom: rem(32);
  }
  .services__item-btn {
    text-align: center;
  }
}